*.mol2 filter=lfs diff=lfs merge=lfs -text
*.smi filter=lfs diff=lfs merge=lfs -text
generate/**/*.txt filter=lfs diff=lfs merge=lfs -text
data/**/*.txt filter=lfs diff=lfs merge=lfs -text
data/**/*.csv filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.sdf filter=lfs diff=lfs merge=lfs -text
mol_to_matrix/data/*.json filter=lfs diff=lfs merge=lfs -text
